.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
  background-color: var(--cor-fundo-caixa);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--cor-borda);
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: var(--cor-primaria);
  color: var(--cor-texto-invertido);
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-primaria-hover);
}

.erro {
  color: var(--cor-erro);
  font-size: 14px;
}
