/* Cadastro.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remover margem do body */
  }
  
  .cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .cadastro-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Garantir largura fixa */
    box-sizing: border-box;
    margin: 10px;
  }
  
  /* Estilização do título */
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-group input,
  .input-group select {
    width: 100%;
    padding: 12px; /* Garantir altura maior para facilitar o clique */
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .input-group input:focus,
  .input-group select:focus {
    border-color: #8f0000;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Distância do botão */
  }
  
  button:hover {
    background-color: #8f0000;
  }
  
  select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"%3E%3Cpath fill="none" stroke="%23ccc" stroke-width="1.5" d="M5 7l5 5 5-5" /%3E%3C/svg%3E');
    background-position: right 10px center;
    background-repeat: no-repeat;
  }
  
  select:hover,
  select:focus {
    border-color: #8f0000;
  }
  