.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}


textarea:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3); 
  outline: none; 
}

button {
  padding: 10px;
  border: none;
  background-color: #ff0000;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}

button:hover {
  background-color: #8f0000;
}

.close-button {
  background-color: #ccc;
  margin-top: 10px;
  width: 100%;
}

.image-url-container {
  margin-bottom: 15px;
}

.image-url-container input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* Aplica a borda vermelha e sombra ao focar no campo de URL */
.image-url-container input[type="text"]:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}

.image-url-container p {
  margin-top: 8px;
  font-size: 12px;
  color: #888;
}

.image-preview {
  margin-top: 10px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-top: 10px;
}

.delete-image-btn {
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  color: #6b6b6b;
}

.delete-image-btn:hover {
  text-decoration: underline;
  color: #b30000;
}
