/* TelaAluno.css */
.tela-aluno {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5; /* Cor de fundo similar à tela do professor */
  font-family: Arial, sans-serif;
}

.tela-aluno h1 {
  margin-top: 20px; /* Ajuste para uniformizar o espaçamento superior */
  font-size: 24px; /* Mesmo tamanho de fonte do título na tela do professor */
  color: #333;
}

.tela-aluno .add-button {
  width: 50px;
  height: 50px;
  background-color: #ff0000;
  color: white;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
}

.tela-aluno .add-button:hover {
  background-color: #8f0000;
}

.tela-aluno .problemas-list {
  margin-top: 20px; /* Espaço adequado entre o título e os cards */
  flex-grow: 1; /* Faz a lista de problemas ocupar o restante da tela */
  overflow-y: auto; /* Habilita rolagem apenas na página */
}

.tela-aluno .problema-card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff; /* Adicionando fundo branco para os cards */
}

/* teste */