.tela-professor {
  padding: 20px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  overflow: hidden; 
}

.tela-professor h1 {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  padding: 10px 0;
  font-size: 24px;
  color: #333;
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

.tela-professor .problemas-list {
  flex-grow: 1;
  overflow-y: auto; 
  padding-bottom: 80px; 
  height: calc(100vh - 120px); 
  overflow-x: hidden; 
}

.tela-professor .problema-card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
}

.tela-professor .problema-card p {
  margin: 0;
}
